@page "/repositories"
@using Humanizer

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudGrid>
        <MudItem xs="4">
            <MudText Typo="Typo.h6">Container Image Repositories</MudText>
        </MudItem>
        <MudItem xs="4">
            <MudText Typo="Typo.h6">Total Images: @_totalImages</MudText>
        </MudItem>
        <MudItem xs="4">
            <MudText Typo="Typo.h6">Total Size: @_totalSize.Bytes().ToString()</MudText>
        </MudItem>
        <MudItem xs="4">
            <MudSelect Label="Filter by Month" @bind-Value="_filterByMonth" @bind-Value:after="OnFilter">
                <MudSelectItem Value="0">Now</MudSelectItem>
                <MudSelectItem Value="1">Older than 1 month</MudSelectItem>
                <MudSelectItem Value="3">Older than 3 months</MudSelectItem>
                <MudSelectItem Value="6">Older than 6 months</MudSelectItem>
                <MudSelectItem Value="9">Older than 9 months</MudSelectItem>
                <MudSelectItem Value="12">Older than 1 year</MudSelectItem>
            </MudSelect>
        </MudItem>
        <MudItem xs="4">
            <MudCheckBox @bind-Value="_includeOnlyOne" @bind-Value:after="OnFilter">
                Include repositories with only 1 image
            </MudCheckBox>
        </MudItem>
        <MudItem xs="4">
            <MudCheckBox @bind-Value="_skipFirstOne" @bind-Value:after="OnFilter">
                Skip the first image in each repository
            </MudCheckBox>
        </MudItem>
        @if (_showDeleteProgress)
        {
            <MudItem xs="4">
                <MudText Typo="Typo.h6">Deletion Progress</MudText>
            </MudItem>
            <MudItem xs="4">
                <MudText Typo="Typo.body2">Total Images For Deletion: @_deletionTotal</MudText>
            </MudItem>
            <MudItem xs="4">
                <MudText Typo="Typo.body2">Deleted Images: @_deletionProgress</MudText>
            </MudItem>
            <MudItem xs="12">
                <MudProgressLinear Max="_deletionTotal" Value="_deletionProgress" Color="Color.Secondary"/>
            </MudItem>
        }
        <MudItem xs="12">
            <MudTable
                ServerData="LoadImages"
                Hover="true"
                Breakpoint="Breakpoint.Xs"
                GroupHeaderStyle="background-color:var(--mud-palette-background-gray)"
                GroupFooterClass="mb-4"
                GroupBy="@_groupDefinition"
                MultiSelection="true"
                Virtualize="true"
                Dense="false"
                FixedHeader="true"
                Height="700px"
                @ref="_tableRef">
                <ColGroup>
                    <col style="width: 60px;"/>
                    <col style="width: 60px;"/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                </ColGroup>
                <HeaderContent>
                    <MudTh>Digest</MudTh>
                    <MudTh>Tags</MudTh>
                    <MudTh>Pushed At</MudTh>
                    <MudTh>
                        <MudTableSortLabel T="ImageDetailsDto" SortLabel="pulled_at">Pulled At</MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel T="ImageDetailsDto" SortLabel="size">Size</MudTableSortLabel>
                    </MudTh>
                </HeaderContent>
                <GroupHeaderTemplate>
                    <MudTh colspan="5"
                           Class="mud-table-cell-custom-group">@($"{context.GroupName} {context.Key} Amount: {context.Items.Count()}, Size: {context.Items.Sum(e => e.ImageSize.Size).Bytes().ToString()}")</MudTh>
                </GroupHeaderTemplate>
                <RowTemplate>
                    <MudTd DataLabel="Digest" Class="truncate-text">
                        <span @onclick:preventDefault
                              @onclick:stopPropagation
                              @onclick="() => CopyToClipboard(context.ImageDigest)">@context.ImageDigest[7..]</span>
                    </MudTd>
                    <MudTd DataLabel="Tags">@string.Join(", ", context.ImageTags)</MudTd>
                    <MudTd DataLabel="Pushed At">@(context.ImagePushedAt.ToString("yyyy-MM-dd HH:mm"))</MudTd>
                    <MudTd
                        DataLabel="Pulled At">@(context.ImagePulledAt?.ToString("yyyy-MM-dd HH:mm") ?? "Never pulled")</MudTd>
                    <MudTd DataLabel="Size">@context.ImageSize</MudTd>
                </RowTemplate>
            </MudTable>
        </MudItem>

        <MudItem xs="12">
            <MudButton Variant="Variant.Filled" Color="Color.Success" Class="mt-3 ml-3" OnClick="_ => RefreshData()">
                Refresh Data
            </MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mt-3 ml-3"
                       OnClick="@(_ => _tableRef.ExpandAllGroups())">
                Expand all repositories
            </MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Secondary" Class="mt-3 ml-3"
                       OnClick="@(_ => _tableRef.CollapseAllGroups())">
                Collapse all repositories
            </MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Error" Class="mt-3 ml-3"
                       OnClick="_ => RemoveImagesAsync()">
                Remove Selected Images
            </MudButton>
        </MudItem>
    </MudGrid>
</MudContainer>
